<div class="main-content page-m" style="margin-top: 30px;">
    <div class="section-content section-content-30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (submit)="onSubmit()">
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2"><label>First Name</label></div>
                        <div class="input-space">
                            <input formControlName="firstName" type="text">
                            <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger">
                                <div *ngIf="firstName?.errors?.['required']|| firstName?.errors?.['notOnlyWhiteSpace']">
                                First Name is required
                            </div>
                            
                            <div *ngIf="firstName?.errors?.['minlength']">
                                First Name must be at least 2 characters long
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Last Name</label></div>
                        <div class="input-space">
                            <input formControlName="lastName" type="text">
                            <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger">
                                <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhiteSpace']">
                                Last Name is required
                            </div>
                            
                            <div *ngIf="lastName?.errors?.['minlength']">
                                Last Name must be at least 2 characters long
                            </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-2"><label>email</label></div>
                        <div class="input-space">
                            <input formControlName="email" type="text">
                            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                                <div *ngIf="email?.errors?.['required']">
                                    email is required
                            </div>
                            
                            <div *ngIf="email?.errors?.['pattern']">
                                must be a valid email adress format
                            </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div formGroupName="shippingAdress" class="form-area">
                    <h3>Shipping Adress</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="input-space">
                            <select formControlName="country" (change)="getStates('shippingAdress')">
                                <option *ngFor="let country of countries" [ngValue]="country">
                                    {{country.name}}
                                </option>
                            </select>
                            <div *ngIf="shippinAdressCountry?.invalid && (shippinAdressCountry?.dirty || shippinAdressCountry?.touched)" class="alert alert-danger">
                                <div *ngIf="shippinAdressCountry?.errors?.['required']">
                                    Country is required
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="input-space">
                            <input formControlName="street" type="text">
                            <div *ngIf="shippinAdressStreet?.invalid && (shippinAdressStreet?.dirty || shippinAdressStreet?.touched)" class="alert alert-danger">
                                <div *ngIf="shippinAdressStreet?.errors?.['required']">
                                    The Street is required
                                </div>
                                <div *ngIf="shippinAdressStreet?.errors?.['minlength']">
                                    The Street must be at least 2 characters long
                                </div>
                        </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="input-space">
                            <select formControlName="state">
                                <option *ngFor="let state of shippingState" [ngValue]="state">
                                    {{ state.name }}
                                </option>
                            </select>
                            <div *ngIf="shippinAdressState?.invalid && (shippinAdressState?.dirty || shippinAdressState?.touched)" class="alert alert-danger">
                                <div *ngIf="shippinAdressState?.errors?.['required']">
                                    The State is required
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="input-space">
                            <input formControlName="zipCode" type="text">
                            <div *ngIf="shippinAdressZipCode?.invalid && (shippinAdressZipCode?.dirty || shippinAdressZipCode?.touched)" class="alert alert-danger">
                                <div *ngIf="shippinAdressZipCode?.errors?.['required']">
                                    The Zip Code is required
                                </div>
                                <div *ngIf="shippinAdressZipCode?.errors?.['minlength']">
                                    Zip Code must be at least 2 characters long
                                </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAdressToBillingAdress($event)">
                        <span class="au-checkmark"></span>Billing Adress same as Shipping Adress
                    </label>
                </div>


                <div formGroupName="billingAdress" class="form-area">
                    <h3>Billing Adress</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="input-space">
                            <select formControlName="country" (change)="getStates('billingAdress')">
                                <option *ngFor="let country of countries" [ngValue]="country">
                                    {{country.name}}
                                </option>
                            </select>
                            <div *ngIf="billingAdressCountry?.invalid && (billingAdressCountry?.dirty || billingAdressCountry?.touched)" class="alert alert-danger">
                                <div *ngIf="billingAdressCountry?.errors?.['required']">
                                    The Country is required
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="input-space">
                            <input formControlName="street" type="text">
                            <div *ngIf="billingAdressStreet?.invalid && (billingAdressStreet?.dirty || billingAdressStreet?.touched)" class="alert alert-danger">
                                <div *ngIf="billingAdressStreet?.errors?.['required']">
                                    The Street is required
                                </div>
                                <div *ngIf="billingAdressStreet?.errors?.['minlength']">
                                    The street must be at least 2 characters long
                                </div>
                        </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="input-space">
                            <select formControlName="state">
                                <option *ngFor="let state of billingState" [ngValue]="state">
                                    {{state.name}}
                                </option>
                            </select>
                            <div *ngIf="billingAdressState?.invalid && (billingAdressState?.dirty || billingAdressState?.touched)" class="alert alert-danger">
                                <div *ngIf="billingAdressState?.errors?.['required']">
                                    The State is required
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="input-space">
                            <input formControlName="zipCode" type="text">
                            <div *ngIf="billingAdressZipCode?.invalid && (billingAdressZipCode?.dirty || billingAdressZipCode?.touched)" class="alert alert-danger">
                                <div *ngIf="billingAdressZipCode?.errors?.['required']">
                                    The Zip Code is required
                                </div>
                                <div *ngIf="billingAdressZipCode?.errors?.['minlength']">
                                    Zip Code must be at least 2 characters long
                                </div>
                        </div>
                        </div>
                    </div>
                </div>


                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Cart</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Card Type</label></div>
                        <div class="input-space">
                            <select formControlName="cardType">
                                <option>Visa</option>
                                <option>MasterC</option>
                            </select>
                            <div *ngIf="creditCardType?.invalid && (creditCardType?.dirty || creditCardType?.touched)" class="alert alert-danger">
                                <div *ngIf="creditCardType?.errors?.['required']">
                                    Card Type is required
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Name On Card</label></div>
                        <div class="input-space">
                            <input formControlName="nameOnCard" type="text">
                            <div *ngIf="creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty || creditCardNameOnCard?.touched)" class="alert alert-danger">
                                <div *ngIf="creditCardNameOnCard?.errors?.['required'] || lastName?.errors?.['notOnlyWhiteSpace']">
                                    Name is required
                                </div>
                                <div *ngIf="creditCardNameOnCard?.errors?.['minlength']">
                                    Name must be at least 2 characters long
                                </div>
                        </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-2"><label>Card Number</label></div>
                        <div class="input-space">
                            <input formControlName="cardNumber" type="text">
                            <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)" class="alert alert-danger">
                                <div *ngIf="creditCardNumber?.errors?.['required']">
                                    Card Number is required
                                </div>
                                <div *ngIf="creditCardNumber?.errors?.['pattern']">
                                    Card Number must be 16 digits long
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Security Code</label></div>
                        <div class="input-space">
                            <input formControlName="securityCode" type="text">
                            <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || creditCardSecurityCode?.touched)" class="alert alert-danger">
                                <div *ngIf="creditCardSecurityCode?.errors?.['required']">
                                    Security Code is required
                                </div>
                                <div *ngIf="creditCardSecurityCode?.errors?.['pattern']">
                                    Security Code must be 3 digits long
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Expiratoin Month</label></div>
                        <div class="input-space">
                            <select formControlName="expirationMonth">
                                <option *ngFor="let month of creditCardMonths">{{ month }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Expiratoin Year</label></div>
                        <div class="input-space">
                            <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                <option *ngFor="let year of creditCardYears">{{ year }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: Free</p>
                    <p>Total Price: {{ totalPrice | currency:'USD' }}</p>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>

