<table>
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>
            <img src=" {{ product.imageUrl }}" />
        </td>
            <td>{{ product.name }}</td>
            <td>{{ product.unitPrice }}</td>
            <td>{{ product.unitsInStock }}</td>
        </tr>
    </tbody>
</table>


<p *ngFor="let product of products">
    {{ product.name }}: {{ product.unitPrice | currency: 'USD' }}
</p>